<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        login
      </h1>
    </div>
    <br>
    <div class="container">
      <div class="content">
<%= form_for :session do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation" class="is-danger">
      <p>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this article from being saved:
      </p>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label       :email, class: 'label' %>
    <p class="control">
      <%= f.email_field :email, class: 'input' %>
    </p>
  </div>
  <div class="field">
    <%= f.label          :password, class: 'label' %>
    <p class="control">
      <%= f.password_field :password, class: 'input' %>
    </p>
  </div>
  <div class="field">
    <p class="control">
      <%= f.submit 'login', class: 'button is-primary' %>
    </p>
  </div>
<% end %>
