<br>
<%= form_for [@category, @article] do |f| %>

  <% if @article.errors.any? %>
    <div id="error_explanation" class="is-danger">
      <p>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </p>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label      :title, class: 'label' %>
    <p class="control">
      <%= f.text_field :title, class: 'input' %>
    </p>
  </div>
  <div class="field">
<% if current_user %>
    <%= f.label       :email, class: 'label' %>
    <p class="control">
      <%= f.email_field :email, value: current_user.email, class: 'input' %>
    </p>
<% else %>
    <%= f.label       :email %>
    <p class="control">
      <%= f.email_field :email, value: current_user.email, class: 'input' %>
    </p>
<% end %>
  </div>
  <div class="field">
    <%= f.label      :price, class: 'label' %>
    <p class="control">
      <%= f.text_field :price, class: 'input' %>
    </p>
  </div>
  <div class="field">
    <%= f.label       :zip_code, class: 'label' %>
    <p class="control">
      <%= f.text_field  :zip_code, class: 'input' %>
    </p>
  </div>
  <div class="field">
    <%= f.label     :description, class: 'label' %><br>
    <p class="control">
      <%= f.text_area :description, class: 'textarea' %>
    </p>

  <div class="field">
    <p class="control">
      <%= f.submit 'Submit', class: 'button is-primary' %>
    </p>
  </div>
<% end %>
