<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= @article.title.downcase %>
      </h1>
      <h2 class="subtitle">
        <%= @article.category.name %>
      </h2>
    </div>
    <br>
    <div class="container">
      <div class="content">
<p>Price: $<%= @article.price %></p>
<p><%= @article.description %></p>
<p>Zip Code: <%= @article.zip_code %></p>
<% if session[:edit_code] %>
  <p>You may edit or delete your entry by going to <%= link_to(edit_category_article_url(@category, @article, @article.edit_id), edit_category_article_url(@category, @article, @article.edit_id)) %></p>
<% end %>
<% session.delete(:edit_code) %>
